.verifyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  min-height: calc(100vh - 138px);
  .verificationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    gap: 1rem;
    padding: 2rem 3rem;
    h1 {
        font-size: 24px;
        font-weight: 800;
    }
    .header {
      text-align: center;
    }
    .verificationCode {
      display: flex;
      flex-direction: column;
      .userInputs {
        display: flex;
        gap: 10px;
        input {
          border: 1px solid #e5e7eb;
          width: 3rem;
          height: 3rem;
          border-radius: 10px;
          text-align: center;
          font-size: large;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
          }
      }
    }
    .loginBtn {
        background-color: black;
                color:white;
                width: 100%;
                border-radius: 8px;
                padding: 8px;
                font-weight: 800;
                font-size: large;
    }
  }
}
